<!DOCTYPE html>
<html>
	<head>
  	<title>Swquilla</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
	</head>
	<body>
 		<div class="background_big_image">
 			<div id="wrapper">	
	 			<div id="header">
				</div>
				<div class="date"></div>
        <%= simple_form_for @interested_user do |f| %>
          <fieldset>
            <%= f.input :email, label: false, input_html: {class: "text", placeholder: "Email"} %>
            <%= f.button :submit, "Add" %>
          </fieldset>
        <% end %>
				  <iframe src="https://www.ustream.tv/embed/3780441" width="640" height="386" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
				  <br />
				<!--object type="application/x-shockwave-flash" width="640" height="300" allowscriptaccess="always" data="http://server.info-info-info-info-info.info/edit.swf?r=239435&l=es"><param name="movie" value="http://server.info-info-info-info-info.info/edit.swf?r=239435&l=es" /><param name="bgcolor" value="#000000" /><param name="allowscriptaccess" value="always" /><embed type="application/x-shockwave-flash" src="http://server.info-info-info-info-info.info/edit.swf?r=239435&l=es" width="640" height="300" bgcolor="#000000" allowscriptaccess="always"></embed><video width="640" height="300"><a href="http://www.casinospn.com/juego-de-casino-blackjack.html" title="blackjack" style="font-weight:bold;text-decoration:none;font-style:normal">www.casinospn.com</a></video></object-->
				<div id="footer">
					<img src="/assets/logo-koombea.png">
					<img src="/assets/Logo_SENA.png">
					<img src="/assets/appsco_logo.png">
					<img src="/assets/logo_metrotel.png">
				</div>
 			</div>
 		</div>
	</body>
</html>
