<!DOCTYPE html>
<html>
	<head>
  	<title>Swquilla</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
	</head>
	<body>
 		<div class="background_big_image">
 			<div id="wrapper">	
	 			<div id="header">
				</div>
        <%= simple_form_for @interested_user do |f| %>
          <fieldset>
            <%= f.input :email, label: false, input_html: {class: "text", placeholder: "Email"} %>
            <%= f.button :submit, "Add" %>
          </fieldset>
        <% end %>
 			</div>
 		</div>
	</body>
</html>
